<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link th:href="@{/style.css}" rel="stylesheet" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="UTF-8">
    <title>RMS Study Case</title>
    <!------ Include the above in your HEAD tag ---------->
</head>
    <body>
        <div class="container">
            <div class="row col-md-6 col-md-offset-2 custyle">
                <table class="table table-striped custab">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Password</th>
                        <th>Role</th>
                        <th colspan="2"> Action </th>
                    </tr>
                    </thead>
                    <tr th:each="user : ${users}">
                        <td><span th:text="${user.name}"></span></td>
                        <td><span th:text="${user.password}"></span></td>
                        <td><span th:text="${user.role}"></span></td>
                        <td><a th:href="@{/find_user(personId=${user.getId()})}" class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Update</a></td>
                        <td><a th:href="@{/delete_user(personId=${user.getId()})}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>